<%
    var last;
%>

<article class="recent-posts">
    <h1 class="recent-title"><%=__('misc.home')%></h1>
    <div class="recent-posts">
        <% page.posts.each(function(item){ %>
            <% var year = item.date.year(); %>
            <% if (last != year){ %>
                <% last = year; %>
                <div class="recent-post-year-title">
                    <h2 class="recent-post-year"><%=year%></h2>
                </div>
            <% } %>
            <div class="recent-post-items">
                <span class="recent-post-time" title="<%=item.date.format()%>"><%=item.date.format('MMM Do')%></span>
                <span class="recent-post-item">
                    <a href="/<%-item.path %>"><%=item.title%></a>
                </span>
            </div>
        <% }); %>
    </div>
</article>


<% if (page.prev || page.next){ %>
    <div class="pagination noborder">
        <% if (page.next){ %>
            <div class="nav-next nav-item">
                <a href="/page/<%=page.next%>">
                    <i class="fa fa-angle-left"></i>
                    <span><%=__('post.older')%></span>
                </a>
            </div>
        <% } %>
        <% if (page.prev){ %>
            <div class="nav-prev nav-item">
                <% if (page.prev == 1) { %>
                    <a href="/">
                        <span><%=__('post.newer')%></span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                <% } else { %>
                    <a href="/page/<%=page.prev%>">
                        <span><%=__('post.newer')%></span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                <% } %>
            </div>
        <% } %>
    </div>
<% } %>
