
<article class="tag">
    <h1><%=page.tag%></h1>
    <% page.posts.each(function(article) { %>
        <div class="recent-post-items">
            <span class="recent-post-time"><%=date(article.date, 'MMM Do')%></span>
            <span class="recent-post-item">
                <% if (article.link) { %>
                    <a href="<%=url_for(article.link)%>" target="_blank"><%=article.title%></a>
                <% } else { %>
                    <a href="<%=url_for(article.link)%>">
                    <%=article.title || 'No Title'%>
                    </a>
                <% } %>
            </span>
        </div>
    <% }); %>
</article>

<% if (page.prev || page.next){ %>
    <div class="pagination noborder">
        <% if (page.next){ %>
            <div class="nav-next nav-item">
                <a href="/page/<%=page.next%>">
                    <i class="fa fa-angle-left"></i>
                    <span>较旧的文章</span>
                </a>
            </div>
        <% } %>
        <% if (page.prev){ %>
            <div class="nav-prev nav-item">
                <% if (page.prev == 1) { %>
                    <a href="/">较新的文章</a>
                <% } else { %>
                    <a href="/page/<%=page.prev%>">
                        <span>较新的文章</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                <% } %>
            </div>
        <% } %>
    </div>
<% } %>